**/target
**/*.pyc
**/dist
**/output

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
**/*.py[cod]
*$py.class

# C extensions
*.so

.cache/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

cred.json
datastore.db
.project
job_scheduler/scheduler_jobs.json
dataflow/.settings/
dataflow/list.txt
list.txt
.idea
.vscode
deploy-build